/**
 * Debug
 */
#wcs-debug {
  padding: 0 0 0;
  font-size: 1em;
  margin-bottom: 20px;
}

#wcs-debug #wcs-debug-header {
  background: #3d9cd2;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

#wcs-debug #wcs-debug-header .wcs-debug-toggle {
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 42px;
  height: 100%;
  right: 0;
  top: 0;
  background-size: 42px;
  position: absolute;
  transition: .3s all;
}

#wcs-debug.closed .wcs-debug-toggle {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#wcs-debug h3.ruleset-title {
  font-size: 1em;
}

#wcs-debug h3.ruleset-title a {
  font-weight: bold;
}

#wcs-debug #wcs-debug-contents {
  padding: 20px 20px 0;
  display: none;
  border: 1px solid #dee2e6;
  border-width: 0 1px 1px;
}

#wcs-debug .wcs-debug-conditions .wcs-condition-result-pass {
  background: #b2f2bb;
}

#wcs-debug .wcs-debug-conditions .wcs-condition-result-fail {
  background: #ffc9c9;
}

#wcs-debug table.wcs-debug-table {
  border: 1px solid #dee2e6;
  margin: 0 0 20px;
}

#wcs-debug table.wcs-debug-table td, #wcs-debug table.wcs-debug-table th {
  padding: 5px 10px;
}

#wcs-debug table.wcs-debug-table td.align-right,
#wcs-debug table.wcs-debug-table th.align-right {
  text-align: right;
}

#wcs-debug table.wcs-debug-table tr.result-pass th, #wcs-debug table.wcs-debug-table tr.result-pass td {
  background: #d3f9d8;
}

#wcs-debug table.wcs-debug-table tr.result-fail th, #wcs-debug table.wcs-debug-table tr.result-fail td {
  background: #ffe3e3;
}

#wcs-debug table.wcs-debug-table tr.status-pass td, #wcs-debug table.wcs-debug-table tr.status-pass th {
  background: #d3f9d8;
}

#wcs-debug table.wcs-debug-table tr.status-pass td, #wcs-debug table.wcs-debug-table tr.status-pass th {
  background: #d3f9d8;
}

#wcs-debug table.wcs-debug-table tr.status-notify td, #wcs-debug table.wcs-debug-table tr.status-notify th {
  background: #fff3bf;
}
