table.woo-conditional-shipping-actions,
table.woo-conditional-shipping-conditions {
	width: 100%;
	background: #fff;
	margin: 0 0 1.5em;

	th.action_remove,
	th.condition_remove {
		width: 15px !important;
	}

	tr th {
		vertical-align: middle;
		margin: 0;
		width: 400px;
		line-height: 24px;
		padding: 1em;
		border-bottom: 1px solid #f8f8f8;
	}

	tr td {
		vertical-align: middle;
		margin: 0;
		line-height: 24px;
		padding: 1em;
		border-bottom: 1px solid #f8f8f8;
	}

	tr.action_row .value_input,
	tr.condition_row .value_input {
		display: none;
	}

	tr th input[type="text"],
	tr td input[type="text"],
	tr th select,
	tr td select {
		max-width: 100%;
	}

	tr.wcs-type-subtotal {
		.wcs_subtotal_value_input {
			display: block;
			font-size: 12px;
		}
		.wcs_text_value_input { display: block; }

		.wcs_subset_filter_input {
			display: inline-block;
		}
	}

	tr.wcs-type-product_attrs {
		.wcs_product_attrs_input {
			display: inline-block;
		}
	}

	tr.wcs-type-weight .wcs_text_value_input { display: block; }
	tr.wcs-type-height_total .wcs_text_value_input { display: block; }
	tr.wcs-type-length_total .wcs_text_value_input { display: block; }
	tr.wcs-type-width_total .wcs_text_value_input { display: block; }
	tr.wcs-type-volume .wcs_text_value_input { display: block; }
	
	tr.wcs-type-product_weight .wcs_text_value_input { display: block; }
	tr.wcs-type-product_height .wcs_text_value_input { display: block; }
	tr.wcs-type-product_length .wcs_text_value_input { display: block; }
	tr.wcs-type-product_width .wcs_text_value_input { display: block; }
	
	tr.wcs-type-product_weight .wcs_product_measurement_mode_input { display: inline-block; }
	tr.wcs-type-product_height .wcs_product_measurement_mode_input { display: inline-block; }
	tr.wcs-type-product_length .wcs_product_measurement_mode_input { display: inline-block; }
	tr.wcs-type-product_width .wcs_product_measurement_mode_input { display: inline-block; }
	
	tr.wcs-type-items {
		.wcs_text_value_input {
			display: block;
		}

		.wcs_subset_filter_input {
			display: inline-block;
		}
	}

	tr.wcs-type-weight {
		.wcs_subset_filter_input {
			display: inline-block;
		}
	}

	.wcs_postcode_value_input {
		.description {
			font-size: .9em;
			color: #999;
			font-style: italic;
		}
	}

	tr.wcs-type-products .wcs_product_value_input { display: block; }
	tr.wcs-type-shipping_class .wcs_shipping_class_value_input { display: block; }
	tr.wcs-type-category .wcs_category_value_input { display: block; }
	tr.wcs-type-customer_role .wcs_user_role_value_input { display: block; }
	tr.wcs-type-coupon .wcs_coupon_value_input { display: block; }

	tr.wcs-type-shipping_postcode .wcs_postcode_value_input,
	tr.wcs-type-billing_postcode .wcs_postcode_value_input { display: block; }

	tr.wcs-type-shipping_country .wcs_country_value_input,
	tr.wcs-type-billing_country .wcs_country_value_input { display: block; }

	tr.wcs-type-shipping_state .wcs_state_value_input,
	tr.wcs-type-billing_state .wcs_state_value_input { display: block; }

	tr.wcs-type-weekdays .wcs_weekdays_value_input { display: block; }
	tr.wcs-type-time .wcs_time_value_input { display: block; }

	tr.wcs-action-type-set_price,
	tr.wcs-action-type-increase_price,
	tr.wcs-action-type-decrease_price {
		.wcs_price_value_input {
			display: flex;

			input[type="number"] {
				margin-right: 5px;
				flex: auto;
				max-width: 200px;
			}

			select {
				flex: none;
			}
		}
	}
	

	tr.wcs-action-type-custom_error_msg {
		td.shipping-methods {
			.select2,
			select {
				display: none;
			}
		}

		.wcs_error_msg_input {
			display: block;
		}
	}

	tr.wcs-action-type-shipping_notice {
		td.shipping-methods {
			.select2,
			select {
				display: none;
			}
		}

		.wcs_notice_input {
			display: block;
		}
	}
}

table.woo-conditional-shipping-rulesets {
	margin-bottom: 30px;

	td, th {
		vertical-align: top;
		line-height: 24px;
		padding: 1em !important;
		font-size: 14px;
		background: #fff;
		display: table-cell !important;

		li {
			line-height: 24px;
			font-size: 14px;
		}

		.woocommerce-help-tip {
			margin: 0 !important;
		}

	}

	thead {
		th {
			vertical-align: middle;
		}
	}

	tbody.woo-conditional-shipping-ruleset-rows {
		td {
			border-top: 2px solid #f9f9f9;
		}

		tr:first-child {
			td {
				border-top: 0;
			}
		}
	}

	ul, p {
		margin: 0;
	}
	
	.woo-conditional-shipping-ruleset-name {
		width: 100%;
	}

	.woo-conditional-shipping-ruleset-name {
		input, select, textarea {
			width: 100%;
		}

		a.woo-conditional-shipping-ruleset-delete {
			color: #a00;
		}

		a.woo-conditional-shipping-ruleset-delete:hover {
			color: red;
		}
	}

	.woo-conditional-shipping-ruleset-status {
		.woocommerce-input-toggle {
			cursor: pointer;
		}
	}

	tfoot {
		input, select {
			vertical-align: middle !important;
		}

		.button-secondary {
			float: right;
		}
	}
}

.ui-autocomplete {
	z-index: 150000 !important;
}

/**
 * Health check
 */
.woo-conditional-shipping-health-check {
	.issue-container {
		margin-bottom: 10px;
		line-height: 24px;
		font-size: 14px;
		background: #fff9db;
		color: #91300a;
		border: 1px solid #ffd8a8;
		
		.title {
			border-bottom: 1px solid #ffd8a8;
			padding: 10px 20px;
			font-weight: bold;
			cursor: pointer;

			.toggle-indicator {

				&::before {
					content: "\f140";
					display: inline-block;
					font: normal 20px/1 dashicons;
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					text-decoration: none;
					float: right;
				}

				&.open {
					&::before {
						content: "\f142";
					}
				}
			}
		}

		.details {
			display: none;
			padding: 20px;

			.fix {
				margin-top: 10px;
	
				ul {
					font-weight: normal;
					list-style: disc;
					padding-left: 20px;
					margin: 10px 0 0;
					
					li {
					}
				}
			}
		}
	}
}

/**
 * License status label (Pro only)
 */
 .we-license-status-label {
  color: #ffffff;
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
}

.we-license-status-label.license-ok {
  background: #2b8a3e;
  color: #ffffff;
}

.we-license-status-label.license-disabled {
  background: #c92a2a;
}

.we-license-status-label.license-unknown {
  background: #212529;
}

.we-license-error {
  display: inline-block;
  margin-left: 5px;
}

.we-license-last-checked {
  color: #666666;
  margin-top: 10px;
}
